@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&family=Seymour+One&display=swap");
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dashboard {
  transition: all 0.5s;
  padding-block: 1rem;
  -webkit-animation: opacity 1s linear;
          animation: opacity 1s linear;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.dashboard .sidebarLogoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 22vw;
  height: 95vh;
}
.dashboard .sidebarLogoCont .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 15vh;
}
.dashboard .sidebarLogoCont .logo .logoImg {
  width: 4rem;
  height: 4rem;
  background-image: url("/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.dashboard .sidebarLogoCont .logo .logoImgTxt {
  padding: 1rem 0.15rem;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: transparent;
  background-image: url("/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-background-clip: text;
          background-clip: text;
}
.dashboard .sidebarLogoCont .logo .logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  color: #000000;
  translate: -0.2rem 0rem;
}
.dashboard .sidebarLogoCont .sidebar {
  color: #37474f;
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas: "one" "two" "two" "two" "two" "two" "three" "four" "five";
  background: #e8e8e8;
  width: 22vw;
  height: 75vh;
  border-radius: 1rem;
  padding-block: 0.5rem;
}
.dashboard .sidebarLogoCont .sidebar div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 1rem;
}
.dashboard .sidebarLogoCont .sidebar div img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.dashboard .sidebarLogoCont .sidebar div span {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
  padding: 0;
  border: 1px solid transparent;
}
.dashboard .sidebarLogoCont .sidebar .placeholder {
  grid-area: one;
}
.dashboard .sidebarLogoCont .sidebar .links {
  text-decoration: none;
  color: #37474f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 1rem;
}
.dashboard .sidebarLogoCont .sidebar .links img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.dashboard .sidebarLogoCont .sidebar .links span {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
  padding: 0;
  border: 1px solid transparent;
}
.dashboard .sidebarLogoCont .sidebar .links span:hover {
  border: 1px solid #37474f;
  padding: 0.3rem 3rem;
  border-radius: 1rem;
}
.dashboard .sidebarLogoCont .sidebar .change {
  grid-area: three;
}
.dashboard .sidebarLogoCont .sidebar .logout {
  grid-area: five;
}
.dashboard .sidebarLogoCont .sidebar .home {
  grid-area: four;
}
.dashboard section:nth-child(2) {
  color: #37474f;
  display: grid;
  grid-template-areas: "one one one one one one" "two two two two three three" "two two two two three three" "two two two two three three" "two two two two three three" "four four four four three three" "four four four four three three" "four four four four three three" "four four four four three three" "four four four four three three";
  background: transparent;
  width: 75vw;
  height: 95vh;
  gap: 0.75rem;
  border-radius: 1rem;
}
.dashboard section:nth-child(2) div {
  background: #e8e8e8;
  border: transparent;
  border-radius: 0.5rem;
}
.dashboard section:nth-child(2) .header {
  color: #37474f;
  grid-area: one;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 1rem;
}
.dashboard section:nth-child(2) .header img {
  height: 2rem;
  filter: opacity(0.75);
}
.dashboard section:nth-child(2) .profile {
  grid-area: two;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.dashboard section:nth-child(2) .profile .profileimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: none;
  overflow: hidden;
  cursor: default;
  position: relative;
  vertical-align: middle;
  text-align: center;
  translate: 1.5rem 0;
}
.dashboard section:nth-child(2) .profile .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  translate: 1rem 0;
  width: 24rem;
  gap: 0.5rem;
  cursor: default;
  background-color: transparent;
}
.dashboard section:nth-child(2) .profile .info span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 3rem;
  width: 17.875rem;
  background: #c5c5c5;
  border-radius: 1rem;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
}
.dashboard section:nth-child(2) .currOrders {
  grid-area: four;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 0.25rem;
  max-width: 40rem;
  z-index: 1;
}
.dashboard section:nth-child(2) .currOrders .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  align-items: flex-start;
  padding-left: 0.5rem;
  text-align: left;
  cursor: default;
  background-color: transparent;
}
.dashboard section:nth-child(2) .currOrders .info div {
  background-color: transparent;
}
.dashboard section:nth-child(2) .currOrders .accept {
  background-color: transparent;
}
.dashboard section:nth-child(2) .currOrders .accept .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #ffd300 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  cursor: default;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  translate: 15rem 0;
}
.dashboard section:nth-child(2) .prevOrders {
  grid-area: three;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}/*# sourceMappingURL=dash.module.css.map */