@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&family=Seymour+One&display=swap");
.navWrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: #fff;
  height: 4rem;
}
.navWrapper section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  justify-content: flex-end;
  width: 50%;
  height: auto;
}
.navWrapper section .logoImg {
  width: 4rem;
  height: 4rem;
  background-image: url("/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.navWrapper section .logoImgTxt {
  padding: 1rem 0.15rem;
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: transparent;
  background-image: url("/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-background-clip: text;
          background-clip: text;
}
.navWrapper section .logoText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  color: #000000;
  translate: -0.2rem 0rem;
}
.navWrapper section .login {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 0.25rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  text-align: center;
  border-radius: 0.75rem;
  border: 0.1rem solid #000000;
  cursor: pointer;
  color: #000000;
  transition: all 0.3s;
}
.navWrapper section .login:hover {
  background-color: #000000;
  color: #ffffff;
}
.navWrapper section .navDash {
  font-size: 1.1rem;
  color: #000;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 0.075rem solid #000;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
.navWrapper section .navDash div {
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navWrapper section .navDash div:nth-child(1) {
  width: 1.5rem;
  background-image: url("/user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navWrapper section .navDash div:nth-child(2) {
  width: auto;
  padding: 0rem 0.5rem;
  text-transform: capitalize;
}
.navWrapper section .navDash:hover {
  background: #000000;
  color: #ffffff;
}
.navWrapper section .cart {
  width: 2rem;
  height: 2rem;
  background-image: url("/cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.navWrapper section:nth-child(1) {
  padding-left: 11.5rem;
}
.navWrapper section:nth-child(2) {
  gap: 0.5rem;
  padding-right: 2.5rem;
}/*# sourceMappingURL=navbar.module.css.map */