@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');

@mixin flex($dir : row, $gap : 0rem) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin bg() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FeaturesCardWrapper {
    margin: 0;
    padding: 0.25rem 0.25rem 1.25rem 0.25rem;
    width: 17rem;
    height: 23rem;
    box-shadow: 0 0 0.5rem #b5b5b5;
    @include flex($dir : column, $gap: 1.5rem);
    position: relative;
    border-radius: 1rem;
    .img {
        width: 16rem;
        height: 15.5rem;
        @include bg;
        border-radius: 1rem;
    }
    .content {
        text-align: center;
        text-transform: capitalize;
        @include flex($dir : column, $gap: 1.25rem);
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.25rem;
            text-transform: capitalize;
            cursor: default;
            width: 90%;
        }
        p {
            font-size: 0.8rem;
            width: 85%;
            cursor: default;
        }
    }
}

.RestaurantCardWrapper {
    margin: 0;
    width: 17rem;
    height: 25rem;
    box-shadow: 0 0 0.5rem #e8e8e8;
    @include flex($dir : column, $gap: 1.5rem);
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    .img {
        width: 17rem;
        height: 15.5rem;
        @include bg;
    }
    .content {
        padding: 0.25rem 0.25rem 1.25rem 0.25rem;
        text-align: left;
        text-transform: capitalize;
        @include flex($dir : column, $gap: 1.25rem);
        width: 16rem;
        height: auto;
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.25rem;
            text-transform: capitalize;
            cursor: default;
            width: 90%;
        }
        p {
            font-size: 0.8rem;
            width: 85%;
            cursor: default;
        }
    }
    div {
        @include flex;
        justify-content: space-between;
        width: 15.5rem;
        height: auto;
        .addToCart {
            width: 8.5rem;
            height: auto;
            border-radius: 0.3rem;
            background-color: #ffd300;
            padding: 0.5rem;
            cursor: pointer;
            @include flex($gap : 0.5rem);
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #000000;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
        .itemPrice {
            width: fit-content;
            block-size: fit-content;
            font-size : 1.2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            padding-right: 0.5rem;
        }
    }
}

.FoodCardWrapper {
    margin: 0;
    height: 11rem;
    width: 52.5rem;
    transition: all 0.3s;
    @include flex($dir : row, $gap: 2rem);
    justify-content: flex-start;
    position: relative;
    border-radius: 0.5rem;
    .img {
        width: 17rem;
        height: 100%;
        @include bg;
    }
    .content {
        text-align: left;
        text-transform: capitalize;
        @include flex($dir : column, $gap: 0.5rem);
        width: 32.5rem;
        height: auto;
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
            cursor: default;
            width: 100%;
        }
        p {
            font-size: 0.75rem;
            width: 100%;
            cursor: default;
        }
    }
    div {
        margin-top: 0.25rem;
        @include flex;
        justify-content: space-between;
        width: 32.5rem;
        height: auto;
        .addToCart {
            width: 8.5rem;
            height: auto;
            border-radius: 0.3rem;
            background-color: #ffd300;
            padding: 0.5rem;
            cursor: pointer;
            @include flex($gap : 0.5rem);
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            img {
                width: 1rem;
                height: 1rem;
            }
        }
        .productCounter {
            width: 8.5rem;
            height: auto;
            border-radius: 0.3rem;
            padding: 0.5rem;
            @include flex($gap : 1rem);
            justify-content: space-evenly;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #000000;
            position: relative;
            span {
                width: 33.33%;
                height: 100%;
                cursor: default;
                background-color: #ffffff;
            }
            div {
                height: 100%;
                width: 333.33%;
                cursor: pointer;
                background-color: #ffd300;
                @include flex;
                padding: 0.5rem;
                img {
                    width: 1rem;
                    height: 1rem;
                }
            }
            div:nth-child(1) {
                border-radius: 0.3rem 0 0 0.3rem;
            }
            div:nth-child(3) {
                border-radius: 0 0.3rem 0.3rem 0;
            }
        }
        .itemPrice {
            width: fit-content;
            block-size: fit-content;
            font-size : 1.25rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            padding-right: 2.5rem;
        }
    }
}

.FoodCardWrapper:hover {
    box-shadow: 0 0 0.5rem #e8e8e8;
}

.OrdersCardWrapper {
    @include flex($gap: 0.5rem);
    padding-block: 0.25rem;
    max-width: 20rem;
    border-bottom: 0.1rem rgba(0,0,0,0.69) solid;
    z-index: 1;
    background-color: transparent;
    .info {
        @include flex($dir: column);
        justify-content: space-around;
        font-size: 0.75rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        align-items: flex-start;
        padding-left: 0.5rem;
        text-align: left;
        max-width: 13rem;
        cursor: default;
    }
    .orderNum {
        background-color: #ffd300 !important;
        @include flex;
        max-width: 5rem;
        max-height: 5rem;
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
        cursor: default;
        translate: -0.25rem -0.25rem;
        overflow: hidden;
        z-index: 0;
        color: #fff;
    }
}